.Dest {
    margin-top: 30px;
    height: auto;
    /* background-color: yellow; */
    padding: 0 40px;
  }
  
  .destcontent {
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 24px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
      drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
      drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
      drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
      drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
      drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  }
  
  .Destimage {
    width: 100%;
    height: 80%;
  }
  
  .Destimage img {
    width: 100%;
    height: 100%;
  }
  
  .desttext {
    width: 100%;
    height: 20%;
  }
  
  .desttext1{
    padding: 20px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .desttext1 p{
    font-family: "Poppins", sans-serif;
    padding: 0 10px;
    font-size: 1em;
    margin-bottom: 0!important;
    color: #5E6282;
  }
  
  .desttext2{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px 20px;
      font-size: 1em;
      font-family: "Poppins", sans-serif;
  }
  
  .desttext2 p{
      margin: 5px 10px;
      color: #5E6282;
  }
  

  @media only screen and (max-width: 640px){
     
    .Dest{
      padding: 0 5px;
    }

  }